streamlit
numpy
Pillow
opencv-python
pyocr
openai
python-dotenv
fastapi
uvicorn[standard]
python-multipart
#pip install -r requirements.txt --upgrade
#pip freeze > requirements.txt
#apt install tesseract-ocr libtesseract-dev tesseract-ocr-jpn